<html lang="en" style="height: auto;">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="chat_page_css.css" />
  <link rel="stylesheet" type="text/css" href="setting_page_css.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css" />
  <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
  <link rel="stylesheet" type="text/css" href="https://adminlte.io/themes/v3/dist/css/adminlte.min.css?v=3.2.0" />
  <link rel="stylesheet" type="text/css" href="https://adminlte.io/themes/v3/plugins/fontawesome-free/css/all.min.css" />
  
  <title>Chat Page</title>
</head>

<body class="sidebar-mini" style=" overflow: hidden;">
  
  <div class="popup-background">
    <div class="center">
      <div class="card-header">
          <div class="card-tools">            
              <button type="button" class="btn btn-tool" data-card-widget="remove" onclick="closeSetting()">X</button>
          </div>
      </div>
      <div class="description">Setting</div>
      <div class="container">
          <div class="setting-group">
              <label>Theme</label>
              <select class="form-control">
                  <option>Bright</option>
                  <option>Dark</option>
              </select>
          </div>
          <div class="setting-group">
              <label>Language</label>
              <select class="form-control">
                  <option>English</option>
                  <option>Chinese 中文</option>
              </select>
          </div>
          <button class="button-25" role="button">Change character</button>
          <button class="button-25 delete" role="button">Delete history</button>
          <button class="button-25 log-out" role="button"> Log out</button>
      </div>
    </div>
  </div>

  <div class="wrapper" style="height: 100%;">
    
    <aside class="main-sidebar sidebar-dark-primary elevation-4">

      <span class="brand-text brand-link font-weight-light">PersonaBot</span>
      <div class="sidebar">

        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
              <a href="/chat?character=support" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>
                  心靈指導師
                </p>
              </a>
              
            </li>
            <li class="nav-item">
              <a href="/chat?character=troll" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>
                  酸民
                </p>
              </a>
              
            </li>
          </ul>
        </nav>

      </div>
      <div class="dropSetting">        
        <button class="dropSettingbtn text-light" onclick="openSetting()">
          <span class="text-with-icon">Setting</span></button>
      </div>

    </aside>

    <div class="content-wrapper">
      <div class="main-section">
        <div class="character-img">
            <!-- 這裡可以放置側邊欄的內容 -->
            <image class="image-cover"></image>
        </div>

        <div class="content">
            <div class="messages"></div>
        </div>
      </div>
      <footer class="msg-footer">
        <!-- audio element for testing api -->
        <audio controls autoplay id="audio">
          <source src="" type="audio/wav">
          Your browser does not support the audio element.
        </audio>
        <form class="message-form" action="#" method="post" autocomplete="off">
          <div class="input-group">
            <input type="text" name="message" placeholder="Type Message ..." class="form-control">
            <span class="input-group-append">
              <button type="button" class="btn btn-primary send-button">Send</button>
            </span>
          </div>
        </form>
      </footer>
    </div>
</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
<script src="https://adminlte.io/themes/v3/plugins/jquery/jquery.min.js"></script>
<script src="https://adminlte.io/themes/v3/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://adminlte.io/themes/v3/dist/js/adminlte.js?v=3.2.0"></script>
<script src="https://adminlte.io/themes/v3/plugins/chart.js/Chart.min.js"></script>
<script src="https://adminlte.io/themes/v3/dist/js/pages/dashboard3.js"></script>

<script>
	update_history();
	function update_history(){
		var urlParams = new URLSearchParams(window.location.search);
		var character = urlParams.get('character');
		//console.log(character);

		var xhr = new XMLHttpRequest();  
		xhr.responseType = 'json';
		xhr.open("get", "/chat_history?character=" + character);
		xhr.send()
		xhr.onreadystatechange = function() { 
			if (xhr.readyState == 4 && xhr.status == 200){
			var json_data = xhr.response;
			json_data = JSON.parse(json_data)
			json_data.forEach(function(value){
        //console.log(value[0])
        addCommentMe(value[0])
        //console.log(value[1])
        addCommentAI(value[1])		      		
			});
      autoScroll();
      //生成語音(依據最新對話)
      generate_audio();
			}      
		}		
	}
  function addCommentMe(input){
    var newDiv = document.createElement('div');
    newDiv.className = 'mb-3';
    var newInput = document.createElement('input');
    newInput.type = 'text';
    newInput.className = 'form-control';
    newInput.placeholder = 'Disabled input';
    newInput.disabled = true;
    newInput.value = input;
    //增加ref attribute, 使tts可以讀取文字
    newInput.setAttribute('ref',input);
    newInput.style.backgroundColor = '#C39BD3';
    newDiv.appendChild(newInput);

    var messagesDiv = document.querySelector('.messages');
    messagesDiv.appendChild(newDiv); 
		autoScroll()
  }

  function addCommentAI(input){
    var newDiv = document.createElement('div');
    newDiv.className = 'mb-3';
    var newInput = document.createElement('input');
    newInput.type = 'text';
    newInput.className = 'form-control';
    newInput.placeholder = 'Disabled input';
    newInput.disabled = true;
    newInput.value = input;
    //增加ref attribute, 使tts可以讀取文字
    newInput.setAttribute('ref',input);
    newDiv.appendChild(newInput);
    var messagesDiv = document.querySelector('.messages');
    messagesDiv.appendChild(newDiv);
		autoScroll()
  }

  function sendMessage() {
    var messageInput = document.querySelector('input[name="message"]');
    var messageText = messageInput.value;
    if (messageText.trim() !== '') {
      addCommentMe(messageText)
      messageInput.value = '';

      //send request to server, add new message
      var form_data = new FormData();
      form_data.append('chat',messageText);
      var urlParams = new URLSearchParams(window.location.search);
      var character = urlParams.get('character');
      form_data.append('character',character);
      var xhr = new XMLHttpRequest();  
      xhr.responseType = 'text';
      xhr.open("post", "/new_chat");
      xhr.send(form_data);
      messageInput.value = '';


      //wait for server response
      //create '...' message first
      //update the AI model response after receive response
      addCommentAI('...');
      xhr.onreadystatechange = function() { 
        if (xhr.readyState == 4 && xhr.status == 200){
          var json_data = xhr.response;
          console.log(json_data)
          if(json_data === 'OK'){
            var messagesDiv = document.querySelector('.messages');
            messagesDiv.innerHTML = '';
            update_history();
          }
        }
      }
    }
  }
  
  document.querySelector('.send-button.btn-primary').addEventListener('click', sendMessage);
  
  document.querySelector('input[name="message"]').addEventListener('keypress', function(e) {
    // 檢查按鍵是否為 Enter
    if (e.key === 'Enter' && !e.shiftKey) {
      e.preventDefault();  // 避免 form 提交或其他不必要的行為
      sendMessage();
    }
  });

function openSetting() {
  var popup = document.querySelector('.popup-background');
  console.log('open')
  popup.style.display="block";
}

function closeSetting() {
  var popup = document.querySelector('.popup-background');
  popup.style.display="none";
}
/*
生成音檔,
只取最新的對話紀錄，
此函數只由update_history()呼叫
*/
function generate_audio(){
  var latestreply = document.querySelector('.messages').lastChild.firstChild.getAttribute('ref');
  var form_data = new FormData();
  //console.log(latestreply);
  form_data.append('text',latestreply);
  var xhr = new XMLHttpRequest();  
  xhr.responseType = 'text';
  xhr.open("post", "/generate_audio");
  xhr.send(form_data);
  xhr.onreadystatechange = function() { 
    if (xhr.readyState == 4 && xhr.status == 200){
        filename = xhr.response;
        var audio = document.getElementById('audio');
        audio.src = '/audio?file=' + filename
        //console.log(audio.src)      
    }
  }
}

function setFooterWidth() {
  // 獲取<aside>的寬度
  var asideWidth = document.querySelector('.main-sidebar').offsetWidth;

  // 獲取視窗的寬度
  var windowWidth = window.innerWidth;

  // 計算剩餘的寬度
  var remainingWidth = windowWidth - asideWidth;

  // 設置這個寬度給.msg-footer
  document.querySelector('.msg-footer').style.width = remainingWidth + 'px';
}

function autoScroll(){
	//將聊天紀錄自動滑至最底部
	var messageBody = document.querySelector('.content');
	messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
}

window.onload = setFooterWidth;
// 當視窗寬度改變時，重新設置.msg-footer的寬度
window.onresize = setFooterWidth;

// 獲取navbar的高度
var navbarHeight = $('.main-header.navbar').height();
// 使用JavaScript計算新的高度
var newHeight = "calc(100vh - " + navbarHeight + "px)";
// 使用jQuery設置新的高度
$('.content-wrapper').css('height', newHeight);

//設定不同角色圖片
var urlParams = new URLSearchParams(window.location.search);
var character = urlParams.get('character');
var image = document.querySelector('.image-cover');
if(character == 'support'){
  image.src='https://cdn.discordapp.com/attachments/824652321736097852/1159038161167585330/image2.png'
}else if(character == 'troll'){
  image.src='https://cdn.discordapp.com/attachments/824652321736097852/1159041255657971782/image1.png'
};

</script>