/* CSS */
.button-6 {
  align-items: center;
  background-color: #C39BD3;

  border: 3px solid #C39BD3 ;
  border-radius: .25rem;

  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 180px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.button-6:hover,
.button-6:focus {
  border-color: #C39BD3 ;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}



/*div in middle
set width to 15%, control button width
*/

.center {
    margin: auto;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

.description {
    text-align: center;
    width: 100%;
    font-size: 24px;
    color: #000000;
}

.container {
    width:auto;
    display:block;
    padding-left:25%;
    padding-right:25%;
}