<!-- HTML !-->
<html>
<head>
    <link rel="stylesheet" type="text/css" href="guest_page_css.css" />
</head>
<body>

<div class="center">
    <div class="description">Welcome. testing: here here here here here here here here here here here here here</div>
    <div class="container">
        <button class="guest_button" role="button">Guest</button>
    </div>
    <div class="container">
        <button class="guest_button" role="button" href="/login">Login</button>
    </div>
    <div class="container">
        <button class="guest_button" role="button" href="/login">Sign up</button>
    </div>
    
</div>
</body>
</html>