/* CSS */
/*div in middle
set width to 15%, control button width
*/

.center {
    margin: auto;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

.description {
    text-align: center;
    width: 100%;
    font-size: 48px;
    color: #454545;
    margin-bottom: 50px;
    font-family: Inter,sans-serif;
    font-weight: 700;
}

.container {
    width:auto;
    display:block;
    padding-left:25%;
    padding-right:25%;
}

.button-35 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(195, 155, 211, .5) 0 6px 20px;
  box-sizing: border-box;
  color: #454545;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  margin-top:10px;
  margin-bottom:10px;
  font-family: sans-serif;
}

.button-35:hover {
  box-shadow: #C39BD3 0 0 0 3px, transparent 0 0 0 0;
}

.icon{
    width:30px;
    vertical-align: middle;

}