<!-- HTML !-->
<html>
<head>
    <link rel="stylesheet" type="text/css" href="login_page_css.css" />
</head>
<body>

<div class="center">
    <div class="description">Login</div>
    <div class="container">
        
        <button class="button-35" role="button">
            <img class="icon" src="https://static.vecteezy.com/system/resources/thumbnails/011/598/471/small/google-logo-icon-illustration-free-vector.jpg">

            Continue with Google
        </button>
    </div>
    <div class="container">
        <button class="button-35" role="button">
            <img class="icon" src="https://static.vecteezy.com/system/resources/thumbnails/018/930/476/small/facebook-logo-facebook-icon-transparent-free-png.png">
            Continue with FB
        </button>
    </div>
</div>
</body>
</html>