<!-- HTML !-->
<html>
<head>
    <link rel="stylesheet" type="text/css" href="login_page_css.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .fa-facebook {
            color: #fff;
            margin-right: 10px;
        }

        .fa-google {
            color: #fff;
            margin-right: 10px;
        }

    </style>
</head>
<body class="loginpage">

    <div class="center">
        <div class="container">
            <div class="description">Login</div>
            <div class="projectname">personabot 個性化AI</div>
        </div>
        
        <div class="container">
            <a href="{{url_for('login_google')}}">
                <button class="button-35 google" role="button">
                    <span class="fa fa-google"></span>
                    Continue with Google
                </button>
            </a>
        </div>
    </div>
</body>
<script>
    /*
	document.querySelector('button.button-35.google').addEventListener('click', function(){
		var form_data = new FormData();
		var xhr = new XMLHttpRequest();  
		xhr.responseType = 'json';
		xhr.open("get", "/login/google");
		xhr.send();
		xhr.onreadystatechange = function() { 
			if (xhr.readyState == 4 && xhr.status == 200){
				var json_data = xhr.response;
				console.log(json_data);
				if(json_data.login_result === "True"){
					document.cookie = json_data.email;
					window.location.href = '/character'
				}
			}
		}
	});*/
</script>
</html>