<!-- HTML !-->
<html>
<head>
    <link rel="stylesheet" type="text/css" href="setting_page_css.css" />
    <link rel="stylesheet" type="text/css" href="https://adminlte.io/themes/v3/dist/css/adminlte.min.css?v=3.2.0" />
  

</head>
<body class="loginpage">

    <div class="center">
        <div class="card-header">
            <div class="card-tools">            
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    X
                </button>
            </div>
        </div>
        <div class="description">Setting
            
        </div>
        <div class="container">
            <div class="setting-group">
                <label>Theme</label>
                <select class="form-control">
                    <option>Bright</option>
                    <option>Dark</option>
                </select>
            </div>
            <div class="setting-group">
                <label>Language</label>
                <select class="form-control">
                    <option>English</option>
                    <option>Chinese 中文</option>
                </select>
            </div>
            <button class="button-25" role="button">  
                Change character
            </button>
            <button class="button-25 delete" role="button">  
                Delete history
            </button>
            <button class="button-25 log-out" role="button">  
                Log out
            </button>

        </div>
    </div>
</body>
</html>

